.main-background{
    -fx-background-image: url(Images/incognito.png);
    -fx-background-size: 30% ;
    -fx-background-repeat: no-repeat;;
    -fx-background-position: center;
    -fx-background-color: #95aaff;
}


.button, .combo-box{
    -fx-alignment: center;
    -fx-font-size: 15pt;

    -fx-background-color: #FFFFFF;
    -fx-border: 4px 4px 4px 4px;
    -fx-border-color: #494949;

}

.button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.label, .button {
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}


/* thanks to https://github.com/MorbZ/OpenSansEmoji */
@font-face {
    font-family: 'OpenSansEmoji';
    src: url('OpenSansEmoji.ttf');
}

.text-field {
    -fx-font-family: OpenSansEmoji;
    -fx-font-size: 32;
}

.combo-box {
    -fx-font-size: 25;
}